<!DOCTYPE html>
<html>
<head>

   <title></title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>
<body>

<p>Some interesting statistics</p>

<p>On average individuals found what they were looking for: {{ave_users_finding_what_they_need}}% of the time on the main vets.gov website.  It's important to know that this metric doesn't account for times when users went from vets.gov to one of our tools, like the Gi Bill Comparison Tool</p>

<p>On average individuals are coming to vets.gov for new information {{ave_new_sessions_per_day}} times per day.  This makes up {{ave_percentage_of_new_sessions}}% of the total visits on average.</p>

{% if ave_session_duration < 1 %}
<p>On average individuals spent {{ave_session_duration * 60}} seconds per visit looking for information</p>
{% else %}
<p>On average individuals spent {{ave_session_duration}} minutes per visit looking for information</p> 
{% endif %}
</body>
</html>